:root {
	--basic-color: #5fbaa7;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

h1 {
	color: var(--basic-color);
	text-align: center;
}

p {
	text-align: center;
}

.button {
	background-color: var(--basic-color);
	color: #ffffff;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 12px;
}

.currency {
	padding: 40px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.currency select {
	padding: 10px;
	appearance: none;
	border: 2px solid #dedede;
	font-size: 16px;
	background-color: transparent;
}

.currency input {
	border: 0;
	font-size: 32px;
	text-align: right;
	background-color: transparent;
}

.swap-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rate {
	color: var(--basic-color);
	padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
	outline: 0;
}
